---
import BaseLayout from '../layouts/BaseLayout.astro';
import InfoCard from '../components/InfoCard.astro';
import pages from './data/pages_info.json' assert { type: 'json' };

export async function getStaticPaths() {

    return pages.map(({ type_info, items}) => {
        return {
            params: { type_info },
            props: { items},
        };
    });
}

const {items} = Astro.props;
const {type_info} = Astro.params;
---

<BaseLayout showFooter={false} title={type_info}>
    <div class="max-w-3xl mx-auto">
        {
            items.map((item) => (
                <InfoCard href={`/${type_info}-${item.mdx}`} description={item.description} title={item.title}></InfoCard>
            ))
        }
    </div>
</BaseLayout>