---
import Image from "astro/components/Image.astro"

export interface Props{
    src: string,
    alt: string,
    text: string,
    href: string,
    target: string
}

const {src, alt, text, href, target} = Astro.props;
---

<a style="display: flex; justify-content: start; width: 35%;" class="text-clear p-2" href={href} target={target}>
    <div class="">
        <Image
            src={src}
            alt={alt}
            width={100}
            height={100}
            class="h-8 w-auto rounded-full"
        />
    </div>
    <div class="ml-10">{text}</div>
</a>