---
import Image from "astro/components/Image.astro"

export interface Props{
    src: string,
    alt: string,
    text: string,
    href: string,
    target: string
}

const {src, alt, text, href, target} = Astro.props;
---

<a style="display: flex; flex-direction: column; align-items: center;" class="text-clear p-2" href={href} target={target}>
    <div class="text-center">
        <Image
            src={src}
            alt={alt}
            width={200}
            height={200}
            class="h-16 w-auto rounded-full"
        />
    </div>
    <div>{text}</div>
</a>